{% extends 'base.html' %}
{% block content %}
<h1>Billionaires Database</h1>
<p>
  Welcome to the Billionaires Database. Currently tracking <strong>{{ stats.n_billionaires }}</strong> billionaires across <strong>{{ stats.n_countries }}</strong> countries.
</p>
<ul>
    <li><a href="/billionaires/">Browse Billionaires</a></li>
    <li><a href="/countries/">Browse Countries</a></li>
    <li><a href="/industries/">Browse Industries</a></li>
    <li><a href="/queries/"><strong>Special Reports & SQL Queries</strong></a></li>
</ul>
<h2>Top 10 billionaires by wealth</h2>
<p>The richest of the richest</p>
<table border="1">
  <tr>
    <th>Rank</th>
    <th>Wealth ($)</th>
    <th>Name</th>
    <th>Industry</th>
    <th>Country of citizenship</th>
  </tr>
  {% for t in top10 %}
  <tr>
    <td>{{ t.position }}</td>
    <td>{{ t.wealth }}</td>
    <td><a href="/billionaires/{{ t.b_id }}/">{{ t.full_name }}</a></td>
    <td><a href="/industries/{{ t.industry }}/">{{ t.industry }}</a></td>
    <td><a href="/countries/{{ t.c_id}}/">{{ t.country_name}}</a></td>
  </tr>
  {% endfor %}
</table>
<h2>Search billionaires by name</h2>
</p>
<p>Get billionaire info:
<form name="bsearch" action="javascript:window.open('/billionaires/search/'+document.forms['bsearch'].elements['expr'].value,'_self')">
   <input value="Joaquim Ferráz" required name="expr" id="expr"/>
   <input type="submit" value="get"/>
</form>
</p>
{% endblock %}